# Make a new file called 'app.env' and put the variables and values there.
# NOTICE: Keep optional values as is, do not alter them in any way if you won't use them.
# DON"T MAKE ANY OPTIONAL VALUE BLANK, LEAVE THEM AS IS IF YOU WON'T FILL THEM.
username="" # A username for the cloud connection to the cloud server being updated. (Note that Turbowarp will block the connection if the username isn't an existing one, for a Scratch Team member, or isn't "player" followed by 2 to 7 digits)
sessionID="" # (Optional (Required for 2-way communication)) Put your session ID here. It won't be shared with anyone except Scratch.  (Visit https://github.com/TimMcCool/scratchattach/wiki/Get-your-session-id for instructions.)
scratch_project="" # Put your project ID here
cloud_host="" # The cloud server which this script will update (use "wss://clouddata.turbowarp.org" for the North American server, or "wss://clouddata-eu.turbowarp.org" for the European cloud server (The European instance is down as of 7/8/2024))
contact="" # Put your contact info or turbowarp may block your request.
egress=[""] # (Optional) Put the variables you want Turbowarp to use for communication with the Scratch project.