# Make a new file called 'app.env' and put the variables and values there.
username="" # A username for the cloud connection to the cloud server being updated. (Note that Turbowarp will block the connection if the username isn't an existing one, for a Scratch Team member, or isn't "player" followed by 2 to 7 digits)
scratch_project="" # Put your project ID here
cloud_host="" # The cloud server which this script will update (use "wss://clouddata.turbowarp.org" for the North American server, or "wss://clouddata-eu.turbowarp.org" for the European cloud server (The European instance is down as of 7/8/2024))
contact="" # Put your contact info or turbowarp may block your request.